body{
    font-family: 'Montserrat';
    color: #444;
    letter-spacing: 1px;

}

h1{
    font-weight: 700;
    color: black;
}

h1 strong{
  color: #28b351;
}

h2{
    font-weight: normal;
    text-align: center;
}

#wrapper{
    width: 90%;
    max-width: 960px;
    margin: 20px auto;
    border-radius: 6px;
    box-shadow: 0px 1px 6px rgba(0,0,0,0.2);
    box-sizing: border-box;
    padding: 0 0 20px;
    overflow: hidden;
    border: 1px solid lightgray;
    background-color: #FFF;
}

#page-banner{
    background: #eee ;
    padding: 10px 0;

}

#page-banner h1, #page-banner p{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

#page-banner input{
    width: 90%;
    max-width: 300px;
    margin: 20px auto;
    display: block;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #444;
}

#task-list, #add-task, #tabbed-content{
    margin: 30px;
}

#task-list ul, #tabbed-content ul{
    list-style-type: none;
    padding: 0;
}

#task-list li{
    padding: 20px;
    border-left: 5px solid #ddd;
    margin: 20px 10px;
}

#task-list li:hover{
    border-color: #FFD300;
}

.delete{
    float: right;
    border: solid 1px white;
    padding: 10px;
    cursor: pointer;
    background: #28b351;
    color: white;


}

.delete:hover{
    border: solid 2px #28b351;
}

#add-task{
    width: 400px;
    margin: 0 auto;
}

#add-task input{
    display: block;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 4px 0 0 4px;
    box-sizing: border-box;
    width: 300px;
    float: left;
}

#add-task button{
    border: 1px solid	#28b351;
    background: #28b351;
    padding: 10px 20px;
    font-size: 16px;
    display: inline-block;
    margin: 0;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    width: 100px;
    float: left;
    margin: 20px 0;
    border-left: 0;
    color: white;
}

#add-task:after{
    content: '';
    display: block;
    clear: both;
}
